<!doctype html>
<html lang="lv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kolektīvi</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
        <link rel="stylesheet" href="/db-lv/static/style.css" />
        <link rel="icon" href="images/favicon.png">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-104319255-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div class="background">
            <div class="header-background"></div>
        </div>
        <div class="main-section" itemscope itemtype="http://schema.org/DanceGroup">
            <header>
                <div class="header__hero"></div>
                <div class="header__main-info-holder">
                    <div class="header__main-info">
                        <div class="image"></div>
                        <span class="name-row">
                            <h1 class="group-name" itemprop="name">Kolektīvi</h1>
                        </span>
                    </div>
                </div>
            </header>
            <main>
                <section>
                    <h2>Kolektīvi</h2>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Nosaukums</th>
                                <th>Grupa</th>
                                <th>Vadītājs</th>
                                <th>Punkti</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each groups}}
                            <tr>
                                <td><a href="./kolektivi/{{guid}}">{{fullName}}</a></td>
                                <td>{{group}}</td>
                                <td>{{leader}}</td>
                                <td>{{totalPoints}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </section>
            </main>
        </div>
    </body>
</html>
