:root {
    font-family: 'Roboto', sans-serif;
    font-size: 36.57px;
}
body {
    background-color: #bababa;
    line-height: 1rem;
    font-size: 0.533rem;
    font-weight: lighter;
}
h1 {
    margin: 0;
    line-height: 2rem;
    font-size: 1.133rem;
    font-weight: bold;
}
h2 {
    margin: 0;
    margin-top: 1rem;
    line-height: 2rem;
    font-size: 0.866rem;
    font-weight: normal;
}
th {
    font-weight: normal;
}
ul {
    margin: 0;
}
p {
    margin: 0;
}
a {
    font-weight: normal;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.description {
    margin-top: 1rem;
}
.main-section {
    width: 100%;
    max-width: 21rem;
    background-color: white;
    border-style: hidden;
    border-radius: 2px;
    margin: 1rem auto;
    box-shadow: 1px 1px 8px #555;
}
.header__hero {
    width: 100%;
    height: 13rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #bababa;
}
.header__main-info-holder {
    position: relative;
    height: 2rem;
}
.header__main-info {
    padding: 0 1rem;
    height: 7rem;
    position: relative;
    top: -5rem;
    display: flex;
    align-items: flex-end;
}
.name-row {
    display: inline-flex;
}
.header__main-info > .image {
    border-style: solid;
    border-width: 4px;
    background-color: white;
    border-color: white;
    box-sizing: border-box;
    width: 7rem;
    min-width: 7rem;
    max-width: 7rem;
    height: 7rem;
    min-height: 7rem;
    max-height: 7rem;
}
.header__main-info > .image > img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.quality-group {
    display: block;
    background-color: #d01f1f;
    border-radius: 4px;
    margin: 10px;
    padding: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.133rem;
}
main {
    padding: 1rem;
}
.property-list {
    padding: 0;
}
.property {
    list-style: none;
}
.property--half {
    width: 50%
}
.property:last-child {
    margin-bottom: 0;
}
.property_icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: orange;
    vertical-align: middle;
    margin-right: 16px;
}
.data-table {
    margin: 0 -1rem;
    width: calc(100% + 2rem);
    text-align: left;
    border-collapse: collapse;
}
.data-table tbody tr:nth-child(2n-1) {
    background-color: #eee;
}
.data-table td,
.data-table th {
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 0;
}
.data-table td:first-child,
.data-table th:first-child {
    padding-left: 1rem;
}
.data-table td:last-child,
.data-table th:last-child {
    padding-right: 1rem;
}
.data-table th:first-child {
    width: 60%;
}
.data-table.events th {
    width: 30%;
}
.data-table.groups th {
    width: 350%;
}
.data-table.groups th:first-child {
    width: 30%;
}
.data-table th{
    font-size: 0.6rem;
}
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.header-background {
    background-color: hsla(39, 85%, 70%, 1);
    height: 16rem;
    box-shadow: 1px 1px 8px #555;
}
.table-cell-label {
    display: none;
    font-size: 0.3rem;
    line-height: 1rem;
    position: relative;
    top: 0.4rem;
    font-weight: normal;
}
@media (max-width: 768px) {
    .header__main-info {
        display: block;
        padding: 0 0.66rem;
    }
    .header__main-info > .image {
        margin: auto;
    }
    .header__main-info-holder {
        height: 4rem;
    }
    .main-section {
        width: calc(100% - 0.66rem);
        min-width: calc(-0.66rem + 360px);
    }
    main {
        padding: 1rem 0.66rem;
    }
    .data-table {
        margin: 0 -0.66rem;
        width: calc(100% + 1.32rem);
    }
    .data-table td:first-child,
    .data-table th:first-child {
        padding-left: 0.66rem;
    }
    .data-table td:last-child,
    .data-table th:last-child {
        padding-right: 0.66rem;
    }
}
@media (max-width: 425px) {
    .data-table.collapse-425 thead {
        display: none;
    }
    .data-table.collapse-425 tbody tr {
        display: block;
    }
    .data-table.collapse-425 tbody tr td {
        display: block;
    }
    .data-table.collapse-425 .table-cell-label {
        display: block;
    }
    .data-table.collapse-425 td,
    .data-table.collapse-425 th {
        padding-left: 0.66rem;
        padding-right: 0.66rem;
    }
}
@media (max-width: 768px) {
    .data-table.collapse-768 thead {
        display: none;
    }
    .data-table.collapse-768 tbody tr {
        display: block;
    }
    .data-table.collapse-768 tbody tr td {
        display: block;
    }
    .data-table.collapse-768 .table-cell-label {
        display: block;
    }
    .data-table.collapse-768 td,
    .data-table.collapse-768 th {
        padding-left: 0.66rem;
        padding-right: 0.66rem;
    }
}